@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300);

*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

body{
  font-family: Roboto Condensed, sans-serif;
  line-height: 1.7;
  min-width: 960px; /*anpassa till enhet*/
}

nav{
  position: fixed;
  /*top: 0;*/
  height: 100px;
  width: 100%;
  min-width: 750px;  /*anpassa till enhet*/
  background-color: rgba(255, 255, 255, .5);
  padding:0;
  margin:0;
  list-style-type:none;
  display: table;
  z-index: 3000;
  display: table-cell;
  vertical-align: middle;
  float: right;
  overflow: hidden;
}

nav .logo {
  position: absolute;
  top: 10px;
  left: 10%;
  margin-left: -35px; /* Negative half of width. */
  width: 70px;
  height: auto;
}

nav ul{
  display: table-cell;
  vertical-align: middle;
  float: right;
  margin-right: 10%;
}

nav ul li{
  display: table-cell;
  line-height: 100px;
  padding: 0px 10px;
  margin: 0px 10px;
  border-right: 3px whitesmoke dotted;
}

nav ul a{
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px white;
  display: inline-block;
	font-size: 18pt;
	font-weight: 600;
	text-transform: uppercase;
}

nav ul li:last-child{
  border-right: none;
}

nav ul li:hover{
  background-color: rgba(255, 255, 255, .5);
}

.sect{
  margin: 0px;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.sOne{
  background-image: url("../img/first.jpg");
}

.sTwo{
  background-image: url("../img/one.jpg");
}

.sThree{
  background-image: url("../img/two.jpg");
}

.sFour{
  background-image: url("../img/three.jpg");
}

.sFive{
  background-image: url("../img/four.jpg");
}

.subSection{
  overflow: hidden;
  position: relative;
  height: 70vh;
  background: linear-gradient(160deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

h1 {
  color: white;
  text-shadow: 3px 3px grey;
  text-transform: uppercase;
  font-weight: 600;
}

.hWhite{
  color:white;
  font-size:38pt;
  font-weight:bold;
}

.lft{
  float: left;
}

.rgt{
  float: right;
}

div .half{
  width: 50%;
  height: 96%;
  min-width: 400px;
  position: relative;
  padding: 15px 0px 15px 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.pad {
  padding-left: 2em;
}

pre {
  white-space: pre-line;
  font-family: Roboto Condensed, sans-serif;
  font-size: 125%;
  font-weight: bold;
  color: #424242;
  line-height: 1.5;
  max-width: 600px;
  min-width: 400px;
}

div #bild1{
  background-image: url("https://twistedsifter.files.wordpress.com/2012/11/vintage-new-york-city-1935-manhattan-skyline-fulton-street-dock-pier-17.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: local;
  box-shadow: 2px 0px 20px #222;
}

div .arrow{
  display: inline-block;
  vertical-align: middle;
  margin-left: 40%;
  cursor:pointer;
}

.arrow a{
  display: inline-block;
  border-radius: 50%;
}

a:hover .rightArrow{
  border: 0.5em solid #343838;
}

a:hover .rightArrow:after{
  border-top: 0.5em solid #343838;
  border-right: 0.5em solid #343838;
}

.rightArrow{
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #fff;
  border-radius: 50%;
}

.rightArrow:after{
  content: '';
  display: inline-block;
  margin-top: 1.05em;
  margin-left: 0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #fff;
  border-right: 0.5em solid #fff;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

div .wframe {
  background-color: rgba(255, 255, 255, 0.2);
  border: 10px double white;
  border-radius: 5px;
  padding: 3em;
}

div .mid{
  display: flex;
  height: 100%;
  margin-left: 33%;
  width: 33%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div .mid > div{
  flex: 1;
}

#spacer1{
  height: 30px;
}

div #wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1em 0 2em;
}

#wrapper h1{
  font:italic 70pt Roboto Condensed;
  color: white;
  text-shadow: 0 2px 0 #ccc,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.3),
    0 10px 10px rgba(0,0,0,.6),
    0 20px 20px rgba(0,0,0,.9);
  -ms-transform: rotate(-15deg); /* IE 9 */
  -webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
  transform: rotate(-15deg);
}

#spacegrey{
  height: 75%;
  width: auto;
  background-color: #343838;
  box-shadow: 0px 0px 20px 0px #222;
}

#btm{
  position: relative;
  height: 25%;
  width: 690px;
  margin: 0 auto;
  padding-top: 1em;
}

#hrt{
  display: inline;
  font-size: 30pt;
  color: rgb(200, 0, 0);
}

p {
  display: inline;
  color: white;
  font-size: 16pt;
	font-weight: bold;
	text-transform: uppercase;
}

#adress{
  padding-bottom: 2em;
}

#adress pre{
  font-weight: 400;
  color: rgba(255,255,255,0.3);
}

#sLogos{
  min-width: 178px;
  max-width: 178px;
}

.rund{
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border-radius: 50px;
  cursor: pointer;
  background: linear-gradient(160deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  box-shadow: 2px 2px 2px black;
}

div.rund:hover{
  background: rgba(44, 181, 232, 0.7);
}

/*.round:last-child{
  margin-right: 0px;
}*/

.rund img{
  display: block;
  height: 50%;
  width: 50%;
  margin: 0 auto;
  padding-top: 12.5px;
  filter: invert(100%);
}

#fb img{
  display: block;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding-top: 0;
}

#map {
  height: 40vh;
  width: 40vw;
}

/*.logo{
  width: 84px;
  height: 100%;
  background-image: url("../img/CWK_Papper.png");
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  left:0;
  margin-left: 10%;
}*/

/*header{
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1479147014836-dda42d84c1a9?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=1da0c4f4a02a89bc4cc44ac882049ebc);
  background-size: cover;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}*/
